body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
body::-webkit-scrollbar-thumb {
  background: rgba(54, 129, 221, 0.5);
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(54, 129, 221, 0.8);
}
body::-webkit-scrollbar-thumb:active {
  background: #3681dd;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-track:hover {
  background: transparent;
}
body::-webkit-scrollbar-track:active {
  background: transparent;
}
body::-webkit-scrollbar-corner {
  background: transparent;
}
.modal-body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.modal-body::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.modal-body::-webkit-scrollbar-thumb {
  background: rgba(54, 129, 221, 0.5);
}
.modal-body::-webkit-scrollbar-thumb:hover {
  background: rgba(54, 129, 221, 0.8);
}
.modal-body::-webkit-scrollbar-thumb:active {
  background: #3681dd;
}
.modal-body::-webkit-scrollbar-track {
  background: transparent;
}
.modal-body::-webkit-scrollbar-track:hover {
  background: transparent;
}
.modal-body::-webkit-scrollbar-track:active {
  background: transparent;
}
.modal-body::-webkit-scrollbar-corner {
  background: transparent;
}
.modal-body {
  padding: 0px 15px;
}
.modal-backdrop {
  background-color: #a1a5a8;
  border-radius: 2px;
}
.modal {
  border-radius: 2px;
}
legend {
  background-color: #ffffff;
  position: sticky;
  top: 0px;
}
.scroll-down {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in 3s;
  transition: all 0.5s ease-in 3s;
}
.scroll-down {
  position: fixed;
  bottom: 30px;
  left: 100%;
  margin-left: -50px;
  width: 32px;
  height: 32px;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 5;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.scroll-down:before {
  top: calc(50% - 8px);
  left: calc(50% - 7px);
  color: #3681dd;
  content: "\f063";
  display: block;
  position: absolute;
  font-size: 38px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.scroll-up {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in 3s;
  transition: all 0.5s ease-in 3s;
}
.scroll-up {
  position: fixed;
  bottom: 30px;
  left: 100%;
  margin-left: -50px;
  width: 32px;
  height: 32px;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 5;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.scroll-up:before {
  top: calc(50% - 8px);
  left: calc(50% - 7px);
  color: #3681dd;
  content: "\f062";
  display: block;
  position: absolute;
  font-size: 38px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
.logo {
  margin-top: -30px;
}
.smallcard .modal-link:hover {
  color: #3681dd;
}
.smallcard .someInfos {
  color: #333333;
}
.btn-primary,
.smallcard .header,
.smallcard .header .settings {
  background-color: #3681dd;
  background-image: none;
  border-color: #3681dd #3681dd #3681dd;
  border: 1px solid #3681dd;
  text-shadow: 0 1px 0px #000000;
  border-radius: 2px;
}
.switchOn {
  background-color: #3681dd;
}
.modal-header {
  color: #3681dd;
  border-bottom: 1px solid #3681dd;
}
.modal-footer {
  border-top: 1px solid #3681dd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #6295c4;
  -moz-box-shadow: inset 0 1px 0 #6295c4;
  box-shadow: inset 0 1px 0 #6295c4;
}
.btn {
  color: #3681dd;
  text-shadow: none;
}
.btn-primary {
  color: #ededed;
  box-shadow: none;
}
.btn[disabled] {
  color: #1a4a7c;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-image: none;
  box-shadow: 0px 10px 15px -12px rgba(0, 0, 0, 0.4);
}
.btn:hover:hover,
.btn:hover:focus,
.btn:hover:active,
.btn:hover.active,
.btn:hover.disabled,
.btn:hover[disabled] {
  color: #ffffff;
  background-color: #3681dd;
}
.btn:hover,
.btn:focus {
  background-position: 0 0px;
}
.button:hover:hover,
.button:hover:focus,
.button:hover:active,
.button:hover.active,
.button:hover.disabled,
.button:hover[disabled] {
  color: #ffffff;
  background-color: #3681dd;
}
.button:hover {
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3681dd;
  background-image: -moz-linear-gradient(top, #3681dd 20%, #1d1d24 100%);
  background-image: -webkit-gradient(linear, 0 0, 20% 100%, from(#3681dd), to(#1d1d24));
  background-image: -webkit-linear-gradient(top, #3681dd 20%, #1d1d24 100%);
  background-image: -o-linear-gradient(top, #3681dd 20%, #1d1d24 100%);
  background-image: linear-gradient(to bottom, #3681dd 20%, #1d1d24 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2b76cb', endColorstr='#ff032b59', GradientType=0);
  border-color: #3681dd #3681dd #3681dd;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 0px 5px #b3e0fd;
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 0px 5px #b3e0fd;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 0px 5px #b3e0fd;
  border: 1px solid #3681dd;
  outline: none;
}
.smallcard .header .settings:hover:hover,
.smallcard .header .settings:hover:focus,
.smallcard .header .settings:hover:active,
.smallcard .header .settings:hover.active,
.smallcard .header .settings:hover.disabled,
.smallcard .header .settings:hover[disabled] {
  color: #ffffff;
  background-color: #3681dd;
}
.smallcard .header .settings:hover {
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3681dd;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2b76cb', endColorstr='#ff032b59', GradientType=0);
  border-color: #3681dd #3681dd #3681dd;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 0px 5px #b3e0fd;
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 0px 5px #b3e0fd;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 0px 5px #b3e0fd;
  border: 1px solid #3681dd;
  outline: none;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #3681dd;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #cccccc;
}
a {
  color: #3681dd;
  text-decoration: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #5b81a9;
}
.card_bg:after {
  color: rgba(179, 224, 253, 0.4);
}
.smallcard {
  -webkit-box-shadow: 0 2px 20px 0px rgba(56, 92, 132, 0.65);
  -moz-box-shadow: 0 2px 20px 0px rgba(56, 92, 132, 0.65);
  box-shadow: 0 2px 20px 0px rgba(56, 92, 132, 0.65);
}
.gateway_bg {
  position: fixed;
}
.gateway_bg:after {
  color: rgba(179, 224, 253, 0.4);
}
.login_bg:after {
  color: rgba(179, 224, 253, 0.4);
}
.login {
  background-color: #ffffff;
  border-top: 4px solid #3681dd;
  -webkit-box-shadow: 0 2px 20px 0px rgba(56, 92, 132, 0.65);
  -moz-box-shadow: 0 2px 20px 0px rgba(56, 92, 132, 0.65);
  box-shadow: 0 2px 20px 0px rgba(56, 92, 132, 0.65);
}
.header > .row {
  margin-left: 2rem;
  margin-right: 2rem;
}
#headertab {
  height: auto;
  margin-bottom: 20px;
}
@media screen and (max-width: 51rem) {
  #webui_language {
    width: 100%;
  }
  .header-sub-button {
    width: 100%;
  }
  .header-button {
    width: 9rem;
  }
  .btn-group > .btn + .dropdown-toggle {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }
  .btn-group > .btn:first-child {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
.copyright > p > font {
  color: #3681dd;
}
.spinner3 > div {
  background-color: #147eff;
}
