
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
body::-webkit-scrollbar-thumb {
  background: rgba(54, 129, 221, 0.50);
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(54, 129, 221, 0.80);
}
body::-webkit-scrollbar-thumb:active {
  background: rgba(54, 129, 221, 1);
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-track:hover {
  background: transparent;
}
body::-webkit-scrollbar-track:active {
  background: transparent;
}
body::-webkit-scrollbar-corner {
  background: transparent;
}

.modal-body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.modal-body::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.modal-body::-webkit-scrollbar-thumb {
  background: rgba(54, 129, 221, 0.50);
}
.modal-body::-webkit-scrollbar-thumb:hover {
  background: rgba(54, 129, 221, 0.80);
}
.modal-body::-webkit-scrollbar-thumb:active {
  background: rgba(54, 129, 221, 1);
}
.modal-body::-webkit-scrollbar-track {
  background: transparent;
}
.modal-body::-webkit-scrollbar-track:hover {
  background: transparent;
}
.modal-body::-webkit-scrollbar-track:active {
  background: transparent;
}
.modal-body::-webkit-scrollbar-corner {
  background: transparent;
}

body {
	color: #fff;
	background-color: #000;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: fixed;
  bottom: 30px;
  left: 100%;
  margin-left: -50px;
  width: 32px;
  height: 32px;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 5;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
	position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 7px);
    color:#f44336;
	content: "\f063";
	display:block;
	position:absolute;
	font-size:38px;
	font-family:"Font Awesome 5 Free";
	font-weight:900;
}

.scroll-up {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-up {
  position: fixed;
  bottom: 30px;
  left: 100%;
  margin-left: -50px;
  width: 32px;
  height: 32px;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 5;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-up:before {
	position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 7px);
    color:#f44336;
	content: "\f062";
	display:block;
	position:absolute;
	font-size:38px;
	font-family:"Font Awesome 5 Free";
	font-weight:900;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.smallcard .modal-link:hover {
  color: #f44336;
}

.smallcard .someInfos{
	color:#333333;
}

.btn-primary, .smallcard .header, .smallcard .header .settings, .btn, .header .btn, #webui_language, .dropdown-menu>li>a {
  background-color: #3a3a3a;
  background-image: -moz-linear-gradient(top, #232323 90%, #3a3a3a 90%);
  background-image: -webkit-gradient(linear, 0 0, 90% 90%, from(#232323), to(#3a3a3a));
  background-image: -webkit-linear-gradient(top, #232323 90%, #3a3a3a 90%);
  background-image: -o-linear-gradient(top, #232323 90%, #3a3a3a 90%);
  background-image: linear-gradient(to bottom, #232323 90%, #3a3a3a 90%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff032b59', endColorstr='#ff1a4a7c', GradientType=0);
  border: 1px solid #3a3a3a;
  text-shadow: 0 1px 0px #000000;
}

.form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, 
.form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, 
.form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, 
.form-search .input-append, .form-inline .input-append, .form-horizontal .input-append {
	background-color: #232323;
	color: #ffffff;
}

.smallcard .header .settings:hover , .button:hover, .btn:hover, .header .btn:hover,#webui_language:hover,#webui_language:active,
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f44336;
  background-image: -moz-linear-gradient(top, #232323 90%, #f44336 90%);
  background-image: -webkit-gradient(linear, 0 0, 90% 90%, from(#232323), to(#f44336));
  background-image: -webkit-linear-gradient(top, #232323 90%, #f44336 90%);
  background-image: -o-linear-gradient(top, #232323 90%, #f44336 90%);
  background-image: linear-gradient(to bottom, #232323 90%, #f44336 90%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2b76cb', endColorstr='#ff032b59', GradientType=0);
  border-color: #f44336 #f44336 #f44336;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgb(179, 224, 253);
  -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgb(179, 224, 253);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgb(179, 224, 253);
  border: 1px solid #f44336;
  outline: none;
}

.switchOn {
  background-color: #f44336;
}

.modal-header {
  color: #fff;
  border-bottom: 1px solid #f44336;
  background-color:#232323;
}

.modal-body {
  padding: 0px 15px;
  background-color: #3a3a3a;
}

legend {
  background-color: #3a3a3a;
  color: #fff;
  position: sticky;
  top: 0px;
}

.modal-footer {
  border-top:1px solid #f44336;
  -webkit-border-radius:0 0 6px 6px;
  -moz-border-radius:0 0 6px 6px;
  border-radius:0 0 6px 6px;
  -webkit-box-shadow:inset 0 1px 0 rgb(98, 149, 196);
  -moz-box-shadow:inset 0 1px 0 rgb(98, 149, 196);
  box-shadow:inset 0 1px 0 rgb(98, 149, 196);
  background-color:#232323;
}

.btn, .header .btn, #webui_language, .dropdown-menu>li>a {
  color: #ffffff;
}

.dropdown-menu .divider {
  display:none;
}

.btn-primary {
  color: #ededed;
}

.btn[disabled] {
  color: #1a4a7c;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
color: #f44336;
background-color: #e6e6e6;
}

.btn:hover:hover, .btn:hover:focus, .btn:hover:active, .btn:hover.active, .btn:hover.disabled, .btn:hover[disabled] {
color: #ffffff;
background-color: #f44336;
}

.btn:hover,.btn:focus{background-position:0 0px;}

.button:hover:hover, .button:hover:focus, .button:hover:active, .button:hover.active, .button:hover.disabled, .button:hover[disabled] {
color: #ffffff;
background-color: #f44336;
}

.smallcard .header .settings:hover:hover, .smallcard .header .settings:hover:focus, .smallcard .header .settings:hover:active,
 .smallcard .header .settings:hover.active, .smallcard .header .settings:hover.disabled, .smallcard .header .settings:hover[disabled] {
color: #535353;
background-color: #f44336;
}

.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #f44336;
}

.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #cccccc;
}

a {
color: #f44336;
text-decoration: none;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
  color: #ffffff;
}

.card_bg:after {
    color: #b4b4b440;
}

.smallcard {
	transition-property: all !important;
	background-color: #535353;
    -webkit-box-shadow: 0 2px 20px 0px #f44336;
    -moz-box-shadow: 0 2px 20px 0px #f44336;
    box-shadow: 0 2px 20px 0px #f44336;
    transition: 200ms linear;
}

.smallcard:hover {
	background-color: #f4433680;
	box-shadow: 0 2px 20px 0px #fff;
}

.smallcard > .header {
	background-color: transparent;
    border: 0px;
    background-image: linear-gradient(135deg, rgb(0, 0, 0) 70%, #f4433600 50%);
}

.header-title {
	max-width: 175px;
}

.header-title > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gateway_bg {
    position: fixed;
}
.gateway_bg:after {
    color: #b4b4b440;
}

.spinner3>div {
	background-color: #272727 !important;
}

#popUp {
	color: #fff;
}

#headertab {
	height: auto;
}

@media screen and (min-width: 767px) {
	#headertab {
		background-image: linear-gradient(45deg, transparent 55%, #535353 50%);
	}
}

@media screen and (max-width: 51rem) {
	#webui_language {
		width: 100%;
	}
	.header-sub-button {
		width: 100%;
	}
	    
	.header-button {
		width: 9rem;
	}
	.btn-group>.btn+.dropdown-toggle {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}
	
	.btn-group>.btn:first-child {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}
}
.btn-group.open .btn.dropdown-toggle {
  background-color: #434343;
}

.login_bg:after {
    color: #b4b4b440;
}

.login {
    background-color: #535353;
    border-top: 4px solid #f44336;
    -webkit-box-shadow: 0 2px 20px 0px rgba(56, 92, 132, 0.65);
    -moz-box-shadow: 0 2px 20px 0px rgba(56, 92, 132, 0.65);
    box-shadow: 0 2px 20px 0px rgba(56, 92, 132, 0.65);
}

.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th,
.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
    background-color: #3a3a3a;
}

.header > .row{
 margin-left: 2rem;
 margin-right: 2rem;
}
