:root {
    --bg-color1: #000;
    --bg-color2: #333;
    --bg-color3: #000;
	--body-text-color: #000;
}

.alert-info {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    color: #000
}

.light.green {
    background-color: #0bf;
    border: 1px solid #0bf;
    -webkit-box-shadow: inset 0 1px 3px rgba(255, 255, 255, .5), 0 0 4px rgba(0, 187, 255);
    -moz-box-shadow: inset 0 1px 3px rgba(255, 255, 255, .5), 0 0 4px rgba(0, 187, 255);
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, .5), 0 0 4px #0bf
}

#headerbox > .header {
    color: #fff
}

.switch {
    box-shadow: none;
    border-radius: 7px;
    margin: 0
}

.switchOn {
    background-color: var(--bg-color1)
}

a {
    color: var(--bg-color2);
    text-decoration: none
}

/*ALL ABOVE IS COPIED FROM THE MAIN SKIN CSS*/
#headerbox > .header {
    background-color: #000 !important;
    color: #fff !important
}

legend, .popUp {
    color: #fff
}

body {
    color: var(--body-text-color);
    background-color: var(--body-bg-color) !important;
    text-shadow: none !important
}

.copyright {
    text-shadow: none !important
}

input.span3, input.span3:focus, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select, select.span3, input, input[type="text"]:focus {
    color: #fff;
    border: 1px solid #fff;
    background-color: var(--body-bg-color)
}

.switch {
    background-color: #75000c !important
}

.switchOn {
    background-color: #008609 !important
}

.switcher:after {
    color: #fff;
    text-shadow: none
}

#statsFrame {
    height: calc(100% - 7.3rem);
    width: calc(100% - 17rem);
    top: 6.3rem;
    left: 16.5rem;
    position: fixed;
    box-shadow: 0 .1875rem .375rem rgba(0, 0, 0, 0.25);
    overflow: auto;
    overflow-y: scroll;
	background-color: var(--menu-bg-color)
}

#infocardrow {
	margin-left: 16.5rem;
	top: 6rem;
	background-color: #fff;
	flex-wrap: nowrap;
    display: flex !important
}

@media only screen and (max-width: 89rem) {
    #infocardrow {
        display: block !important;
		margin-left: unset;
		z-index: 0;
    }
}

.row {
    margin-left: 0
}

.infocard {
    width: auto
}

.span12 {
    margin: 0;
    padding: 0
}

.icon-cogs, .smallcard .header .settings, .smallcard:hover .header .settings, #scroll-up, #scroll-down {
    all: initial;
    opacity: 0;
    visibility: hidden;
    display: none
}

.header-logo {
    margin-left: 5rem;
	flex-basis: unset;
}

.header-button {
    margin-right: 2rem;
    margin-bottom: .5rem
}

#headerbox {
    top: 4.7rem;
    background-color: #fff;
    box-shadow: 0 .1875rem .375rem rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    position: fixed;
    max-height: calc(100% - 16rem);
    overflow: auto
}

#headertab {
    position: fixed !important;
    width: 100%;
    z-index: 3
}

#upgrade-alert {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    border: 0
}

.container {
    width: 100%
}

.span3 {
    cursor: pointer;
    width: 100%;
    max-width: 15.5rem
}

.span12 {
    width: 100%;
    box-sizing: content-box;
    height: 6.25rem
}

.header picture {
    position: relative
}

body {
    background-color: #f0eee6;
    padding: 0;
    overflow-y: auto
}

.header {
    background-color: var(--bg-color1)
}

#footer {
    position: fixed;
    bottom: .5rem;
    left: .5rem;
    width: 14rem;
	margin: unset;
}

.container > #footer {
    position: unset
}

.gateway_bg, .popUpBG {
    visibility: hidden;
    display: none
}

.modal-backdrop {
    visibility: hidden
}

.modal, .modal.fade.in, .modal.fade {
    z-index: 6;
    width: calc(100% - 17rem);
    height: auto;
    max-height: calc(100% - 7.5rem);
    margin: 0;
    overflow: visible;
    left: 16.5rem;
    top: 2.45rem;
    border: 0;
    border-radius: 0;
    margin-top: 3.8rem;
    padding-top: 1rem;
    padding-bottom: 0;
    transition-duration: .0001s;
    transition-timing-function: step-start;
    transform: initial;
    background: var(--bg-color1);
    opacity: 1
}

.modal.fade {
    opacity: 0
}

.modal-header, .row-fluid .span4, .row-fluid .span11 {
    position: fixed;
    padding-left: 1rem;
    border: 0;
    border-radius: 0;
    top: 3.25rem;
    left: 16.5rem;
    height: 1.8rem;
    text-align: left;
    font-size: 14pt;
    vertical-align: middle;
    background: var(--bg-color2);
    width: calc(100% - 19rem) !important
}

.row-fluid .span4 {
    line-height: 3rem
}

.modal-body {
    min-height: 15.1rem;
    overflow-y: auto;
    overflow-x: auto;
    height: auto;
    max-height: calc(100vh - 14rem);
    padding: 15px
}

.modal-footer {
    padding: 7px 0;
    border: 0;
    border-radius: 0;
    width: 100%;
    background-color: var(--menu-bg-color);
    margin: 0;
    bottom: 0
}

div.login input.span3, div.login input.span3:focus {
    right: 0;
    position: relative
}

div.login_bg input.span3, div.login_bg input.span3:focus {
    width: 17.25rem;
    margin: 0 0 .5rem;
    position: absolute;
    right: 1.25rem
}

.login {
    box-shadow: 0 .1875rem .375rem rgba(0, 0, 0, 0.25);
    border: none;
    padding: 0
}

.span4, .offset4 {
    border: 0;
    width: 460px !important;
    float: none;
    margin: auto !important;
    box-sizing: content-box
}

h2 {
    display: block;
    padding: 0 0 0 1.25rem;
    font-size: 1.25rem;
    color: #fff;
    letter-spacing: .025rem;
    line-height: 3.4rem;
    text-align: left;
    height: 3.25rem;
    margin: auto;
    background-color: var(--bg-color2);
    font-weight: 100
}

.btn, .btn:hover, .btn:hover:hover, .header .btn, .btn-group > .btn:first-child, .btn-group > .btn + .dropdown-toggle, .modal-footer .btn + .btn {
    min-width: 4.5rem;
    margin: 0;
    background-image: none;
    background-color: var(--bg-color2);
    color: #fff;
    cursor: pointer;
    padding: .35rem 1rem;
    border: 0;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
    transform: none;
    transition: initial;
    text-shadow: none;
    filter: none;
    padding-top: .5rem;
    padding-bottom: .5rem
}

.btn ~ .btn {
    margin-left: 1rem !important
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    color: #444
}

.header select, .header .btn, .header .btn:hover, .header .btn-group > .btn:first-child, .btn-group > .btn + .dropdown-toggle {
    position: relative;
    top: .5rem;
    border: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    color: #fff
}

#webui_language option {
    margin: 40px;
    background: var(--bg-color1);
    color: #fff
}

.header .btn-group > .btn:first-child {
    cursor: default
}

.login_bg:after {
    color: #e5e4dc
}

input.span3, input.span3:focus, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    margin-right: 1rem;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: none
}

.logo-technicolor {
    top: 0;
    height: 6.25rem;
    display: flex;
    left: 0;
    background-color: var(--bg-color1);
    width: 100%;
    margin: 0
}

div.logo-technicolor a {
    margin-top: 1.5rem;
    margin-left: 4rem
}

.switch {
    box-shadow: none;
    border-radius: 7px;
    margin: 0
}

.copyright {
    display: table;
    bottom: 10px
}

.copyright > p > font {
    color: var(--bg-color2)
}

.tooLongTitle p {
    width: auto;
    overflow: initial;
    text-overflow: initial
}

.switchOn {
    background-color: var(--bg-color1)
}

.span1 a {
    all: initial;
    opacity: 0;
    visibility: hidden;
    display: none
}

.span11 {
    padding-right: 1.5rem;
    padding-top: .4rem
}

.modal-action, .modal-action:hover, .modal-action i {
    opacity: .999;
    color: #fff
}

.modal-action:hover, .modal-action:hover i {
    color: #ddd
}

.popUp {
    position: fixed;
    width: calc(100% - 17rem);
    max-width: calc(100% - 17rem);
    height: 22rem;
    overflow: visible;
    margin: 0;
    left: 16.5rem;
    top: 2.5rem !important;
    border: 0;
    border-radius: 0;
    margin-top: 3.8rem;
    padding-bottom: 0;
    box-shadow: none;
    cursor: default;
	background: var(--bg-color1)
}

.popUp:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    margin: 0;
    left: 0;
    top: calc(100% - 2px);
    box-shadow: 0 .1875rem .375rem rgba(0, 0, 0, 0.65);
    pointer-events: none
}

.popUp:before {
    content: '';
    position: absolute;
    z: index: -1;
    margin-left: -.5rem;
    width: calc(100% + 1rem);
    height: 100rem;
    top: 100%;
    left: 0
}

.popUp .header {
    box-shadow: none;
    background-color: var(--bg-color2);
    background-image: none;
    text-shadow: none;
    border-bottom: none;
    position: fixed;
    top: 3rem;
    width: calc(100% - 18.5rem);
    padding: 0 0 0 1.25rem;
    font-size: 1.25rem;
    letter-spacing: .025rem;
    line-height: 3.4rem;
    height: 3.25rem
}

.popUp .content {
    display: block;
    margin: 0 auto;
    min-height: 14rem;
    width: calc(100% - 18.5rem)
}

#Poptxt {
    padding-top: 8rem;
    padding-left: 0;
    text-align: center;
    position: static;
    display: block
}

.spinner3 {
    filter: invert(30%)
}

select, select.span3, input, input[type="text"]:focus {
    border-radius: 0;
    border-color: #d5d5d5;
    box-shadow: none
}

.pull-right {
    margin-right: 20px
}

.login_bg label[for="srp_username"]:after {
    content: "Your username:"
}

.login_bg label[for="srp_password"]:after {
    content: "Your password:"
}

input::placeholder {
    color: #fff;
    opacity: 0
}

.logo-technicolor:after {
    content: "Technicolor";
    position: fixed;
    top: 2.5rem;
    width: 100%;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    left: 0
}

.open > .dropdown-menu {
    margin: 0;
    margin-top: .5rem;
    z-index: 80;
    border: none;
    border-radius: 0;
    box-shadow: none
}

.b
.btn-group.open .btn.dropdown-toggle {
    background-color: var(--bg-color2)
}

.nav-tabs {
    z-index: 1;
    position: fixed;
    margin: 0;
    background-image: none;
    background-color: var(--bg-color2);
    color: #fff;
    cursor: default;
    padding: .35rem 1rem;
    border: 0;
    left: 16.5rem;
    top: 6.2rem;
    border-radius: 0;
    width: calc(100% - 19rem);
    text-shadow: none;
    box-shadow: none;
    transform: none;
    transition: initial;
    text-shadow: none;
    filter: none;
    padding-top: 0;
    padding-bottom: .06rem
}

.form-horizontal .nav-tabs {
    position: unset;
    background-color: transparent;
    margin-bottom: 1rem
}

.form-horizontal .nav-tabs li, .form-horizontal .nav-tabs > li > a, .form-horizontal .nav > li > a:hover {
    background-color: var(--bg-color2)
}

.nav-tabs li, .nav-tabs > li > a, .nav > li > a:hover {
    border: 0;
    padding-top: .15rem;
    border-radius: 0;
    background-color: var(--bg-color1);
    color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
    cursor: pointer
}

.nav-list > li > a, .nav-list, .nav-list > li > a:hover {
    border: 0;
    padding-top: .15rem;
    border-radius: 0
}

.nav-tabs > li > a:hover {
    color: #fff
}

.nav-tabs > li {
    display: inline-block;
    float: none
}

ul.nav-tabs {
    overflow-x: auto;
    white-space: nowrap
}

ul.nav-tabs::-webkit-scrollbar {
    height: 4px
}

ul.nav-tabs::-webkit-scrollbar-thumb {
    border-radius: 2px
}

ul.nav-tabs::-webkit-scrollbar-track {
    background: transparent
}

ul.nav-tabs::-webkit-scrollbar-thumb, ul.nav-tabs::-webkit-scrollbar-thumb:hover {
    background: #444
}

.nav-tabs li {
    margin-right: .5rem
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus, .nav > li > a:hover, .nav > li > a:focus {
    border: 0;
    background-color: var(--bg-color1);
    color: #fff;
    cursor: pointer
}

.caret {
    border-top-color: #fff
}

#erroruserpass {
    margin-left: 1rem;
    margin-right: 1rem
}

.dropdown-menu > li > a:hover {
    color: #000;
    background-image: none
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, select, select.span3, input, input[type="text"]:focus {
    border: 1px solid #d5d5d5;
    box-shadow: unset
}

.modal-header .modal-action {
    margin-left: 20px;
    padding-top: 8px
}

.modal-header .modal-action:before {
    margin-right: 20px
}

.modal-body legend {
    margin-bottom: 20px
}

.modal form {
    margin: 1rem 0
}

#applications-modal fieldset .span3 {
    margin: 1rem;
    display: inline;
    max-width: 15.5rem !important
}

#applications-modal fieldset .span4 {
    margin: 1rem !important;
    float: left;
    height: min-content;
    max-width: 15.5rem !important
}

#applications-modal fieldset br {
    display: none
}

.smallcard {
			  
    box-shadow: 0 .1875rem .375rem rgba(0, 0, 0, 0.25);
    opacity: 1 !important;
    transform: initial !important;
    transition: initial !important;
    overflow: visible !important;
    background: inherit
}

#headerbox > .header {
    margin-bottom: 0;
    background-image: none;
    text-shadow: none;
    border-bottom: none;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    cursor: pointer
}

#headerbox > .header > .header-title > p {
    margin: 5px
}

.card_bg:after {
    color: #b4b4b4;
    opacity: .25
}

.smallcard > .header {
    background-image: unset;
    border: unset;
    height: .6rem;
    font-size: 11pt;
    font-weight: 700;
    vertical-align: middle;
    line-height: .6rem;
    text-shadow: none;
    background-color: inherit;
    box-shadow: none;
    border-bottom: medium solid var(--bg-color3)
}

.smallcard > .header > .header-title {
    margin-top: -1rem;
    margin-left: -1rem;
    padding-left: 1rem;
    padding-top: .2rem;
    width: 14rem;
    background-color: var(--bg-color3);
    border: unset;
    height: 2.1rem;
    font-size: 11pt;
    font-weight: 700;
    vertical-align: middle;
    line-height: 2.5rem;
    text-shadow: none
}

#popUp.smallcard > .header {
    background-color: var(--bg-color2);
    margin: 0;
    padding: 0;
    height: 3rem;
    top: 3.25rem;
    width: calc(100% - 17rem);
    border-bottom: none
}

#popUp.smallcard > .header > .header-title {
    background-color: var(--bg-color2);
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    height: 3rem;
    font-size: 14pt;
    font-weight: 400;
    vertical-align: middle;
    line-height: 3rem
}

@media only screen and (min-width: 50rem) {
    #headerbox {
        overflow: auto !important;
        display: none;
        width: 15.5rem !important;
        opacity: 1 !important;
        margin: 1.5rem .5rem 0 0 !important;
        height: auto !important
    }
	
	#swtichbuttom {
		position: fixed;
		top: 3.25rem;
		width: calc(100% - 19rem);
		left: 16.5rem;
		background: var(--bg-color2);
		height: 2rem;
		font-size: 14pt;
		vertical-align: middle;
		line-height: 2rem;
		text-align: left
	}

    .header-button {
        margin-top: -2rem
    }

    .container > .row {
        margin-top: 2rem
    }

    #cardrow {
        top: 8rem;
        margin-left: 15.5rem;
        overflow-y: auto !important
    }

    _::-webkit-full-page-media, _:future, :root #cardrow {
        overflow-y: visible !important
    }

    .open > .dropdown-menu {
        margin-top: -1.75rem;
        margin-right: 7rem;
        height: 2.25rem
    }

    .dropdown-menu > li > a, .dropdown-menu > li {
        display: inline !important;
        white-space: nowrap
    }

    .dropdown-menu > li > a, .dropdown-menu > li > a:hover {
        margin: 0;
        padding: .5rem;
        padding-top: 0;
        text-align: center;
        line-height: 2.25rem;
        background-color: #fff
    }

    .dropdown-toggle .caret {
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        border-right: 4px solid;
        margin-top: 5px;
        margin-right: 6px
    }

    .row[style="z-index : 3;  position: relative;"] {
        box-shadow: none !important
    }
}

@media only screen and (max-width: 50rem) {
    div.logo-technicolor picture img {
        width: 100% !important
    }

    div#login-card {
        width: auto !important;
        margin-top: 0
    }

    .logo-technicolor {
        height: auto !important;
        position: relative !important
    }

    .logo-technicolor:after {
        display: none
    }

    form.form-horizontal .pull-right {
        float: none;
        margin: 0 10px !important
    }

    .login label {
        margin-right: 10px !important
    }

    fieldset h2 {
        display: block !important
    }

    .login_bg {
        padding: 0 !important
    }

    #cardrow {
        margin-top: 4rem;
        position: absolute;
        z-index: 0
    }

    .header-logo {
        display: none;
    }
	
	.header-button {
		margin-top: 0.5rem;
	}

    #headertab {
        height: 3.75rem;
        padding: 0;
        margin: 0;
        z-index: 6
    }

    #headertab > .row {
        display: inline-block;
        float: right
    }

    #headertab:before {
        content: "☰";
        font-size: 30pt;
        margin-left: 1rem;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        line-height: 3.75rem;
        cursor: pointer
    }

    .container > #footer > .copyright {
        display: unset
    }

    .container > #footer {
        margin-top: 1rem
    }

    .header picture, .copyright {
        display: none
    }

    body {
        -webkit-overflow-scrolling: touch
    }

    #headerbox {
        width: 15.5rem;
        top: 0;
        margin: 0;
        background-color: #fff;
        box-shadow: 0 .1875rem .375rem rgba(0, 0, 0, 0.25);
        font-size: 1.125rem;
        overflow-y: auto;
        position: fixed !important;
        max-height: 100%;
        height: 100%;
        transition: margin .2s;
        -webkit-overflow-scrolling: touch;
        z-index: 5
    }

    .row[style="z-index : 3;  position: relative;"] {
        z-index: 6 !important
    }

    .apprise-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 4
    }

    .modal, .modal.fade.in, .modal.fade {
        left: 0;
        top: 2.45rem;
        width: 100%;
        max-height: initial;
        height: calc(100% - 2rem);
        padding-top: 0
    }

    .modal-header, .row-fluid .span4, .row-fluid .span11 {
        height: unset;
        position: fixed;
        border: 0;
        border-radius: 0;
        left: 0;
        width: 100% !important;
        background-color: var(--bg-color1);
        box-shadow: 0 .27rem .375rem rgba(0, 0, 0, 0.25)
    }

    .modal-body {
        height: 100%
    }

    .nav-tabs {
        background-color: var(--bg-color1);
        left: 0;
        top: 6.2rem;
        width: calc(100% - 2rem)
    }

    .nav-tabs li, .nav-tabs > li > a, .nav > li > a:hover {
        background-color: var(--bg-color2);
        color: rgba(255, 255, 255, 0.6)
    }

    .nav-list > li > a, .nav-list {
        color: var(--bg-color2)
    }

    .nav-list > li > a:hover {
        color: #fff;
        background-color: var(--bg-color2)
    }

    .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus, .nav > li > a:hover, .nav > li > a:focus {
        background-color: var(--bg-color2)
    }

    .popUp {
        position: fixed;
        width: 100% !important;
        max-width: initial;
        height: 100%;
        left: 0;
        top: 0
    }

    .popUp .header {
        top: 0;
        width: 100%;
        background-color: var(--bg-color1)
    }

    #Poptxt {
        position: absolute;
        display: initial !important;
        width: 100%;
        top: 2rem;
        left: 0;
        margin: 0
    }

    .logo-technicolor:after {
        font-size: 1.25rem;
        top: 1.5rem;
        padding-left: 130px;
        text-align: left
    }

    .row .span4.offset4, .login {
        margin: 0;
        margin-top: 3.75rem
    }

    fieldset h2 {
        display: none
    }

    .login_bg {
        padding-top: 1rem
    }

    .login_bg:after {
        content: ''
    }

    div.logo-technicolor a {
        margin: .7rem
    }

    div.logo-technicolor picture img {
        width: 75%;
        height: auto
    }

    div.login_bg input.span3, div.login_bg input.span3:focus {
        width: auto;
        margin: 0;
        margin-top: -.3rem
    }

    .modal-action-refresh, .modal-action-advanced {
        font-size: 0
    }

    .modal-action-refresh i, .modal-action-advanced i {
        font-size: 14pt
    }

    .row[style="z-index : 3;  position: relative;"] .btn:not(.dropdown-toggle), #webui_language {
        display: none
    }
	
	#swtichbuttom {
		display: unset;
	}
	
	.btn-group > .btn + .dropdown-toggle {
		top: unset;
	}

    .modal:before {
        content: '';
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 3rem;
        top: 0;
        left: 0;
        background-color: var(--bg-color1)
    }

    .modal-footer {
        position: fixed
    }

    .modal-body {
        max-height: calc(100vh - 9em)
    }

    .modal-body fieldset {
        padding-bottom: 3rem
    }

    #popUp.smallcard > .header {
        width: 100%;
        background-color: var(--bg-color1)
    }

    #popUp.smallcard > .header > .header-title {
        background-color: var(--bg-color1)
    }
}