.logo{
  margin-top: -30px; 
}

.smallcard .modal-link:hover {
  color: #cb2bbe;
}

.smallcard .someInfos{
	color:#333333;
}

.btn-primary, .smallcard .header, .smallcard .header .settings {
  background-color: #6e0a8f;
  background-image: -moz-linear-gradient(top, #440359, #7c1a74);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#440359), to(#7c1a74));
  background-image: -webkit-linear-gradient(top, #440359, #7c1a74);
  background-image: -o-linear-gradient(top, #440359, #7c1a74);
  background-image: linear-gradient(to bottom, #440359, #7c1a74);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff440359', endColorstr='#ff7c1a74', GradientType=0);
  border-color: #7c1a74 #7c1a74 #010002;
  border: 1px solid #7c1a74;
  text-shadow: 0 1px 0px #000000;
}

.switchOn {
  background-color: #440359;
}

.modal-header {
  color: #440359;
}

.btn {
  color: #440359;
}

.btn-primary {
  color: #ededed;
}

.login {
  border-top: 4px solid #7c1a74;
}

.btn[disabled] {
  color: #6e0a8f;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
color: #48848F;
background-color: #e6e6e6;
}

.btn:hover:hover, .btn:hover:focus, .btn:hover:active, .btn:hover.active, .btn:hover.disabled, .btn:hover[disabled] {
color: #ffffff;
background-color: #440359;
}

.btn:hover {
text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #9b1190;
background-image: -moz-linear-gradient(top, #cb2bbe, #440359);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cb2bbe), to(#440359));
background-image: -webkit-linear-gradient(top, #cb2bbe, #440359);
background-image: -o-linear-gradient(top, #cb2bbe, #440359);
background-image: linear-gradient(to bottom, #cb2bbe, #440359);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcb2bbe', endColorstr='#ff440359', GradientType=0);
border-color: #440359 #440359 #cb2bbe;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(203,43,190,1);
-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(203,43,190,1);
box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(203,43,190,1);
border: 1px solid #cb2bbe;
outline: none;
}

.btn:hover,.btn:focus{background-position:0 0px;}

.button:hover:hover, .button:hover:focus, .button:hover:active, .button:hover.active, .button:hover.disabled, .button:hover[disabled] {
color: #ffffff;
background-color: #440359;
}

.button:hover {
text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #9b1190;
background-image: -moz-linear-gradient(top, #cb2bbe, #440359);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cb2bbe), to(#440359));
background-image: -webkit-linear-gradient(top, #cb2bbe, #440359);
background-image: -o-linear-gradient(top, #cb2bbe, #440359);
background-image: linear-gradient(to bottom, #cb2bbe, #440359);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcb2bbe', endColorstr='#ff440359', GradientType=0);
border-color: #440359 #440359 #cb2bbe;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(203,43,190,1);
-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(203,43,190,1);
box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(203,43,190,1);
border: 1px solid #cb2bbe;
outline: none;
}
.smallcard .header .settings:hover:hover, .smallcard .header .settings:hover:focus, .smallcard .header .settings:hover:active, .smallcard .header .settings:hover.active, .smallcard .header .settings:hover.disabled, .smallcard .header .settings:hover[disabled] {
color: #ffffff;
background-color: #440359;
}
.smallcard .header .settings:hover {
text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #9b1190;
background-image: -moz-linear-gradient(top, #cb2bbe, #440359);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cb2bbe), to(#440359));
background-image: -webkit-linear-gradient(top, #cb2bbe, #440359);
background-image: -o-linear-gradient(top, #cb2bbe, #440359);
background-image: linear-gradient(to bottom, #cb2bbe, #440359);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcb2bbe', endColorstr='#ff440359', GradientType=0);
border-color: #440359 #440359 #cb2bbe;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(203,43,190,1);
-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(203,43,190,1);
box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 0px 5px rgba(203,43,190,1);
border: 1px solid #cb2bbe;
outline: none;
}


.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #440359;
}

.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #cccccc;
}

a {
color: #440359;
text-decoration: none;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
  color: #2bb6cb;
}
