html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
[hidden],template{display:none;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
h1{font-size:2em;margin:0.67em 0;}
mark{background:#ff0;color:#000000;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:1em 40px;}
hr{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;height:0;}
pre{overflow:auto;}
code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em;}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
textarea{overflow:auto;}
optgroup{font-weight:bold;}
table{border-collapse:collapse;border-spacing:0;}
td,th{padding:0;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html{font-size:10px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#337ab7;text-decoration:none;}
a:hover,a:focus{color:#23527c;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
figure{margin:0;}
img{vertical-align:middle;}
hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eeeeee;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small{font-weight:normal;line-height:1;color:#777777;}
h1,.h1,h2,.h2,h3,.h3{margin-top:20px;margin-bottom:10px;}
h1 small,.h1 small,h2 small,.h2 small,h3 small,.h3 small,h1 .small,.h1 .small,h2 .small,.h2 .small,h3 .small,.h3 .small{font-size:65%;}
h4,.h4,h5,.h5,h6,.h6{margin-top:10px;margin-bottom:10px;}
h4 small,.h4 small,h5 small,.h5 small,h6 small,.h6 small,h4 .small,.h4 .small,h5 .small,.h5 .small,h6 .small,.h6 .small{font-size:75%;}
h1,.h1{font-size:36px;}
h2,.h2{font-size:30px;}
h3,.h3{font-size:24px;}
h4,.h4{font-size:18px;}
h5,.h5{font-size:14px;}
h6,.h6{font-size:12px;}
p{margin:0 0 10px;}
ul,li{margin:0;padding:0;list-style:none;}
html,body{height:100%;min-height:100%;position:relative;text-align:center;overflow-x:hidden;}
*{box-sizing:border-box;-webkit-box-sizing:border-box;}
body{font:13px 'helvetica neue',Roboto;background-color:white;color:#a1a1a1;font-stretch:condensed;line-height:1.5em;position:relative;}
img{max-width:100% !important;height:auto;vertical-align:middle;}
h1,h2,h3,h4{font-weight:normal;margin:0 0 .5em 0;padding:0;line-height:120%;}
p{margin:0;padding:.5em 0 .5em 0;}
.int{position:relative;height:100%;padding:0 1.3em;}
.auto{width:auto !important;display:inline-block !important;}
.none{display:none;}
.block{display:block;}
.clean{clear:both;}
.clearfix:before,.clearfix:after{display:block;content:'\0020';overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.fright{float:right !important;}
.fleft{float:left !important;}
.text-left{text-align:left !important;}
.text-right{text-align:right !important;}
.text-center{text-align:center !important;}
.text-justify{text-align:justify !important;}
::selection{background:none;color:#a1a1a1 !important;}
.test{border:4px solid red !important;}
#header{height:55px;position:fixed;overflow:visible;padding:0 1em;z-index:2;top:0;right:0;left:0;background:#9c27b0;margin-top:-60px;}
#content{min-height:100%;height:100%;margin:0;padding:55px 0 0 0 !important;z-index:1;width:100%;display:block;}
#content .inside{min-height:100%;height:100%;display:table;width:100%;margin:0;padding:0;top:0;left:0;opacity:0;}
#error{position:absolute;display:none;top:105px;right:0;left:0;bottom:0;z-index:20;background:rgba(255, 255, 255, 0.73);color:#D00000;line-height:1.6em;}#error p{background:rgba(0, 0, 0, 0.8);-webkit-border-radius:0.3em;-moz-border-radius:0.3em;border-radius:0.3em;padding:1em;margin:8em 1.5em;font-size:1.1em;color:white;}
#error strong{font-size:2em;font-weight:normal;display:block;padding:.7em 1em;}
#error a{background:white;color:#9c27b0;display:block;padding:.7em .5em;margin-top:1em;font-size:1.8em;}
#error a:hover{color:#9c27b0;text-decoration:none;}
#header h1{line-height:55px;color:white;text-align:center;font-size:2em;display:block;width:100%;}#header h1 a{position:absolute;left:0;top:0;text-decoration:none !important;height:30px;width:30px;display:block;}
#header h1 img{position:absolute;left:.5em;top:12px;height:30px !important;width:30px;}
h2{text-align:center;font-size:2em;padding:.2em 0;color:black;}
.btns{position:relative;display:table-row;font-size:1.4em;line-height:1.8em;padding:.5em 1em;height:8.5em;}.btns ul{margin:0;position:absolute;bottom:0;left:0;right:0;}
.btns li{padding:0 1em 1em;margin:0;}
.btns li a{padding:.5em;color:white;background:#9c27b0;display:block;}
.btns li a:hover{color:white;text-decoration:none;}
.home{background-color:#9c27b0;}.home #header{display:none !important;}
.home #content{overflow:hidden !important;}
.home h1{font-size:2em;text-align:center;color:white;}.home h1 img{position:relative;max-width:50% !important;margin:0 0 1em 0;}
.home .btns{height:12em;}.home .btns a.button{background:white;color:#9c27b0;}
.howto #content{overflow:hidden !important;}
.howto #slide{display:table-row;position:relative;top:0;left:0;right:0;background:white;-webkit-border-radius:0.4em;-moz-border-radius:0.4em;border-radius:0.4em;margin:0;}.howto #slide .slideme{max-width:100%;height:100% !important;width:100%;height:100%;overflow:hidden;position:relative;z-index:1;padding-bottom:2em !important;}.howto #slide .slideme .int{padding:0 !important;}
.howto #slide .slideme li{position:absolute;background-position:center 40%;background-repeat:no-repeat;background-size:contain;}
.howto #slide .slideme p{position:absolute;bottom:0em;left:0;right:0;color:black;z-index:2;font-size:1.2em !important;white-space:normal !important;overflow:visible !important;}
.howto #slide .pagination{position:relative;z-index:2;}
.howto #slide ol.numbers{position:absolute;right:0;left:0;bottom:-3em;white-space:nowrap;}.howto #slide ol.numbers li{width:1.5em;height:1.5em;background:#edebeb;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;border:2px solid white;cursor:pointer;display:inline-block;margin:0 .5em;overflow:hidden;text-indent:-3000em;}
.howto #slide ol.numbers li.current{background:#9c27b0;border-color:#9c27b0;}
.howto .btns{height:7em;}
.doctor .provider{display:table-row;height:5em;position:relative;text-align:left;z-index:9;color:#d7d7d7;}.doctor .provider p{font-size:.9em;text-transform:uppercase;border-bottom:1px dotted #cfcfcf;margin:0 1.7em;padding-top:1.5em;color:#767676;line-height:2em;}
.doctor .provider img{opacity:.5;width:auto !important;height:1.2em !important;vertical-align:top;margin-top:.35em;}
.doctor .signal{display:table-row;position:relative;overflow:hidden;height:180px;}.doctor .signal div#graphSignal{z-index:2;position:absolute;height:140%;width:1200px;left:50%;bottom:-20%;margin:0 0 0 -600px;}
.doctor .signal div#ChangeValueNbr{z-index:3;position:absolute;bottom:3%;font-size:5.5em;left:0;right:0;line-height:100%;letter-spacing:-0.05em;}
.doctor .history{display:table-row;position:relative;margin:0;}.doctor .history h2{padding-top:.7em;}
.doctor .history .graph{left:18%;right:1.3em;bottom:0;top:4em;position:absolute;min-height:11em;}
.doctor .history .noscroll{left:0;right:0;bottom:1em;top:0;position:absolute;min-height:11em;overflow:hidden;}
.doctor .history p.hig,.doctor .history p.low,.doctor .history p.base{top:26%;position:absolute;left:-18%;right:0;text-align:right;z-index:1;border-bottom:2px dotted #edebeb;line-height:20px;padding:0 108% 0 0;font-size:.7em;font-weight:bold;text-transform:uppercase;color:#767676;margin:-4.35em 0 0 0;}
.doctor .history p.low{top:78%;}
.doctor .history p.base{top:100.5%;border-bottom:1px solid #edebeb;}
.doctor .history .bar{margin:0;padding:0;position:absolute;top:0;right:0;left:0;bottom:-1em;text-align:left;overflow-y:hidden;z-index:2;overflow-x:scroll;}.doctor .history .bar .contain{position:relative;height:100%;right:0;left:auto;min-width:100%;padding-bottom:3em;}
.doctor .history .bar ul{position:relative;white-space:nowrap;top:0;bottom:0;height:100%;margin:0;padding:0;list-style:none;float:right;}.doctor .history .bar ul li{width:15px;display:inline-block;height:100%;margin:0 5px 0 0;padding:0;position:relative;}
.doctor .history .bar ul .infs{color:#a1a1a1;padding-top:.5em;background:url(../img/infs.png) no-repeat top center;position:absolute;bottom:-2.8em;font-size:.7em;text-align:center;margin:0 -100%;width:300%;z-index:2;}
.doctor .history .bar ul .int{background:#80c300;background:#80c300 !important;background:-moz-linear-gradient(top, #80c300 0%, #d9f2ab 100%) !important;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #80c300), color-stop(100%, #d9f2ab)) !important;background:-webkit-linear-gradient(top, #80c300 0%, #d9f2ab 100%) !important;background:-o-linear-gradient(top, #80c300 0%, #d9f2ab 100%) !important;background:-ms-linear-gradient(top, #80c300 0%, #d9f2ab 100%) !important;background:linear-gradient(to bottom, #80c300 0%, #d9f2ab 100%) !important;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@colo1', endColorstr='@colo2', GradientType=0) !important;height:0%;bottom:0%;position:absolute;width:100%;padding:0;display:block;z-index:1;}.doctor .history .bar ul .int.low{background:#d70000;background:#d70000 !important;background:-moz-linear-gradient(top, #d70000 0%, #ffa5a5 100%) !important;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #d70000), color-stop(100%, #ffa5a5)) !important;background:-webkit-linear-gradient(top, #d70000 0%, #ffa5a5 100%) !important;background:-o-linear-gradient(top, #d70000 0%, #ffa5a5 100%) !important;background:-ms-linear-gradient(top, #d70000 0%, #ffa5a5 100%) !important;background:linear-gradient(to bottom, #d70000 0%, #ffa5a5 100%) !important;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@colo1', endColorstr='@colo2', GradientType=0) !important;}
.doctor .history .bar ul .int.med{background:#ffcc00;background:#ffcc00 !important;background:-moz-linear-gradient(top, #ffcc00 0%, #fff0ac 100%) !important;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcc00), color-stop(100%, #fff0ac)) !important;background:-webkit-linear-gradient(top, #ffcc00 0%, #fff0ac 100%) !important;background:-o-linear-gradient(top, #ffcc00 0%, #fff0ac 100%) !important;background:-ms-linear-gradient(top, #ffcc00 0%, #fff0ac 100%) !important;background:linear-gradient(to bottom, #ffcc00 0%, #fff0ac 100%) !important;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@colo1', endColorstr='@colo2', GradientType=0) !important;}
.doctor .addmore{display:table-row;position:relative;margin:0;height:3em;}
.slideme_container{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.slideme_container ul,.slideme_container ol,.slideme{margin:0;padding:0;}
.slideme_container li,.slideme>li{display:block;list-style:none;}
.slideme_container,.slideme{position:relative;}
.slideme{overflow:hidden;}
.slideme_container ol img,.slideme>* img{display:block;}
.slideme>*:first-child{opacity:1;position:relative;z-index:5;}
.slideme>*,.slideme_container .slideme>*{height:100%;left:0;position:absolute;top:0;width:100%;z-index:0;}
.slideme>*{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.slideme_container .slideme>*.current{opacity:1;z-index:5;}
.single button.arrow,.single .pagination{display:none;}
.slideme-slide>*,.slideme_container .slideme-slide>*{visibility:hidden;z-index:0;}
.slideme-slide>.current,.slideme-slide>.next{visibility:visible;z-index:5;}
.slideme-slide>.after{left:100%;}
.slideme-slide>.before{left:-100%;}
.slideme-slide.nextClicked>.current,.slideme-slide.nextClicked>.next,.slideme-slide.prevClicked>.current,.slideme-slide.prevClicked>.next{-webkit-transition:left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);-moz-transition:left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);-ms-transition:left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);-o-transition:left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);transition:left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);}
.slideme-slide.prevClicked>.next,.slideme-slide.nextClicked>.next{left:0;}
.slideme-slide.prevClicked>.current{left:100%;}
.slideme-slide.nextClicked>.current{left:-100%;}
.slideme-zoom>*,.slideme_container .slideme-zoom>*{opacity:0;visibility:hidden;}
.slideme-zoom>.current{visibility:visible;z-index:4;}
.slideme-zoom>.next{visibility:visible;z-index:5;}
.slideme-zoom>.before,.slideme-zoom.nextClicked>.current{-webkit-transform:scale(1.4);-moz-transform:scale(1.4);-ms-transform:scale(1.4);-o-transform:scale(1.4);transform:scale(1.4);}
.slideme-zoom>.after,.slideme-zoom.nextClicked>.next,.slideme-zoom.prevClicked>.current{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);z-index:5;}
.slideme-zoom>.before{z-index:6;}
.slideme-zoom.nextClicked>.current,.slideme-zoom.nextClicked>.next,.slideme-zoom.prevClicked>.current,.slideme-zoom.prevClicked>.next{-webkit-transition:opacity 0.35s cubic-bezier(0.47, 0, 0.745, 0.715),-webkit-transform 0.35s cubic-bezier(0.47, 0, 0.745, 0.715);-moz-transition:opacity 0.35s cubic-bezier(0.47, 0, 0.745, 0.715),-moz-transform 0.35s cubic-bezier(0.47, 0, 0.745, 0.715);-ms-transition:opacity 0.35s cubic-bezier(0.47, 0, 0.745, 0.715),-ms-transform 0.35s cubic-bezier(0.47, 0, 0.745, 0.715);-o-transition:opacity 0.35s cubic-bezier(0.47, 0, 0.745, 0.715),-o-transform 0.35s cubic-bezier(0.47, 0, 0.745, 0.715);transition:opacity 0.35s cubic-bezier(0.47, 0, 0.745, 0.715),transform 0.35s cubic-bezier(0.47, 0, 0.745, 0.715);}
.slideme-zoom.nextClicked>.current{opacity:0;}
.slideme-zoom.nextClicked>.after{opacity:1;}
.slideme-zoom.prevClicked>.next{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);opacity:1;visibility:visible;}
.slideme-fade>*,.slideme_container .slideme-fade>*{opacity:0;z-index:0;}
.slideme-fade.nextClicked>.current,.slideme-fade.nextClicked>.next,.slideme-fade.prevClicked>.current,.slideme-fade.prevClicked>.next{-webkit-transition:opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715);-moz-transition:opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715);-ms-transition:opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715);-o-transition:opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715);transition:opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715);}
.slideme-fade.nextClicked>.current,.slideme-fade.prevClicked>.current{opacity:0;z-index:5;}
.slideme-fade.nextClicked>.next,.slideme-fade.prevClicked>.next{opacity:1;z-index:4;}
.slideme-page>.current{visibility:visible;z-index:4;}
.slideme-page>.next{visibility:visible;z-index:6;}
.slideme-page>.after{left:100%;}
.slideme-page>.before{left:-100%;}
.slideme-page.nextClicked>.current,.slideme-page.prevClicked>.current{-webkit-transition:visibility 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);-moz-transition:visibility 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);-ms-transition:visibility 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);-o-transition:visibility 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);transition:visibility 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);visibility:hidden;}
.slideme-page.nextClicked>.next,.slideme-page.prevClicked>.next{-webkit-transition:left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);-moz-transition:left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);-ms-transition:left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);-o-transition:left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);transition:left 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);left:0;}
.slideme-touch{-webkit-overflow-scrolling:touch;height:100%;overflow:hidden;overflow-y:hidden;overflow-x:scroll;white-space:nowrap;width:100%;}
.slideme-touch.snapping{overflow-x:hidden ;}
.slideme_container .slideme-touch>*{-webkit-transform:translateZ(0px);display:inline-block;height:100%;position:relative;width:100%;}
.slideme_container .slideme-touch>* img{display:block;min-height:1px;min-width:1px;width:100%;}

